<div class="ui dropdown icon pointing item save-screen">
    <i class="add icon"></i>
    <div class="inverted menu">
        <div class="ui icon input">
            <i class="edit icon"></i>
            <input id="screenNameInput" type="text" placeholder="Screen name" value="{{activeScreenName}}">
        </div>
        <div class="divider"></div>
        <div class="item" onclick="app.FooterBarController.saveCurrentScreen();">
            <i class="checkmark icon"></i>
            Save screen
        </div>
    </div>
</div>
{{#screens}}
<a class="{{#active}}active{{/active}} item">
    <i class="desktop icon"></i>
    <b>{{name}}</b>
</a>
{{/screens}}
<div class="right menu">
    <div class="ui dropdown icon pointing item network-config">
        <i class="setting icon"></i>
        <div class="inverted menu">
            <div class="header">
                <i class="key icon"></i>
                Auth token
            </div>
            <div class="ui icon input">
                <i class="key icon"></i>
                <input class="authTokenInput" type="password" placeholder="Secret token" value="{{authToken}}">
            </div>
            <div class="header">
                <i class="server icon"></i>
                Relay server A
            </div>
            <div class="ui icon input">
                <i class="server icon"></i>
                <input class="relayServerAInput" type="text" placeholder="<ip-address>:<port>" value="{{relayServerA}}">
            </div>
            <div class="header">
                <i class="server icon"></i>
                Relay server B
            </div>
            <div class="ui icon input">
                <i class="server icon"></i>
                <input class="relayServerBInput" type="text" placeholder="<ip-address>:<port>" value="{{relayServerB}}">
            </div>
            <div class="divider"></div>
            <div class="item" onclick="app.FooterBarController.saveNetworkConfig();">
                <i class="checkmark icon"></i>
                Save configuration
            </div>
        </div>
    </div>
</div>