<div class="ui fixed inverted menu">
    <div class="header item">
        <i class="dashboard teal icon"></i>
        Volante Operator
    </div>
    <div class="ui dropdown icon pointing item" id="WidgetSelectionDropdown">
        <i class="add icon"></i>&nbsp;Add instruments
        <div class="inverted menu">
            <div class="header">
                <i class="map icon"></i>
                Geo Position
            </div>
            <div class="item" data-value="mapWidget">Map Widget</div>
            <div class="divider"></div>
            <div class="header">
                <i class="plane icon"></i>
                Altitude
            </div>
            <div class="item" data-value="climbRateWidget">Climb Rate</div>
            <div class="item" data-value="absoluteAltitudeWidget">Absolute Height</div>
            <div class="item" data-value="relativeAltitudeWidget">Relative Height</div>
            <div class="item" data-value="altitudeHistoryWidget">History/Trend</div>
            <div class="disabled divider"></div>
            <div class="header">
                <i class="compass icon"></i>
                Gyro status
            </div>
            <div class="item" data-value="attitudeWidget">Attitude (Roll/Pitch)</div>
            <div class="item" data-value="headingWidget">Heading (Yaw)</div>
            <div class="disabled header">
                <i class="bar chart icon"></i>
                Motor
            </div>
            <div class="item" data-value="currentMotorStatusWidget">Current Status</div>
            <div class="item" data-value="motorStatusHistoryWidget">History</div>
            <div class="divider"></div>
            <div class="header">
                <i class="medium battery icon"></i>
                Energy
            </div>
            <div class="disabled item">Battery status</div>
            <div class="disabled item">Power consumption</div>
            <div class="disabled item">Estimated flight time</div>
            <div class="divider"></div>
        </div>
    </div>
    <div class="right menu" id="topBarRightMenu">
        <div class="item connection-status">
            <i class="red wifi icon"></i>
            Not connected
        </div>
        <div class="item connection-status">
            <i class="server icon"></i>
            -
        </div>
        <div class="item" id="messagesOutCounter">
            <i class="upload icon"></i>0
        </div>
        <div class="item" id="messagesInCounter">
            <i class="download icon"></i>0
        </div>
        <div class="item">
            <i class="full olive battery icon"></i>
            79 %
        </div>
    </div>
</div>