{% extends 'base.html.twig' %}

{% block jsScript %}
{% endblock %}

{% block header %}
    <h1 class="ui top dividing inverted dark blue header">
        <i class="dashboard icon"></i>
        <div class="content">
            Direct control
            <div class="sub header" id="connectStatus">Connecting ...</div>
        </div>
    </h1>
{% endblock %}

{% block grid %}

{% endblock %}