<div class="four wide column" id="ControlRequestsWidget">
    <h4 class="ui top inverted attached header">
        <i class="message icon"></i>
        <div class="content">
            Requests
        </div>
    </h4>
    <div class="ui attached inverted segment">
        <div class="ui inverted divided list">
        </div>
    </div>
</div>