<div class="four wide column">
    <h4 class="ui top inverted attached header">
        <i class="talk icon"></i>
        <div class="content">
            Requests
        </div>
    </h4>
    <div class="ui attached segment geo-position inverted">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>