<div class="four wide column" id="copterStructureWidget">
    <h4 class="ui top inverted attached header">
        <i class="sitemap icon"></i>
        <div class="content">
            Structure
        </div>
    </h4>
    <div class="ui attached segment geo-position inverted">
        <img src="/images/copter-structure.svg">
    </div>
</div>