<div class="eight wide column">
    <h4 class="ui top inverted attached header">
        <i class="game icon"></i>
        <div class="content">
            Control
        </div>
    </h4>
    <div class="ui attached segment geo-position inverted" id="directControlWidget">
        <h4 class="ui horizontal divider header">
            Start / Stop
        </h4>
        <button class="big inverted green ui button">
            <i class="play icon"></i>
            Start motors
        </button>
        <button class="big inverted disabled red ui button">
            <i class="stop icon"></i>
            Stop motors
        </button>
        <h4 class="ui horizontal divider header">
            Horizontal motors
        </h4>
        <button class="big ui grey button">
            <i class="arrow up icon"></i>
            All motors +2%
        </button>
        <button class="big  ui grey button">
            <i class="arrow down icon"></i>
            All motors -2%
        </button>
        <br><br>
    </div>
</div>