<div class="eight wide column">
    <h4 class="ui top inverted attached header">
        <i class="map icon"></i>
        <div class="content">
            Geo position
        </div>
        <button class="ui grey button" id="geoPositionResetButton" onclick="app.MapWidget.reset(this)">
            Reset data
        </button>
    </h4>
    <div class="ui attached segment geo-position inverted"><div id="GeoPositionMap"></div></div>
</div>