<div class="seven wide column">
    <h4 class="ui top inverted attached header">
        <i class="area chart icon"></i>
        <div class="content">
            Motor status
        </div>
    </h4>
    <div class="ui attached segment geo-position inverted">
        <br><br><br><br><br><br><br><br><br><br>
    </div>
</div>