<div class="four wide column">
    <h4 class="ui top inverted attached header">
        <i class="feed icon"></i>
        <div class="content">
            Network status
        </div>
        <button class="ui grey icon button" id="refreshNetworkStatus" onclick="app.NetworkStatusWidget.refresh(this)">
            <i class="refresh icon"></i>
        </button>
    </h4>
    <div class="ui attached inverted segment" id="NetworkStatusWidget">
        <div class="ui inverted relaxed divided list">
            <div class="item">
                <div class="content">
                    <div class="header">IP Adresse</div>
                    <div class="ipAddress">{{ networkStatus.ipAddress ?: 'Unknown' }}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Websocket port</div>
                    <div class="port">{{ networkStatus.webSocketPort ?: 'Unknown' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>