<div class="widget" id="PidTuningStatusWidget">
    <div class="ui inverted segment widget">
        <div class="ui grey inverted top attached label">PID Tuning</div>
        <h4 class="ui horizontal divider header">
            <i class="compass icon"></i> Yaw config
        </h4>
        <div class="ui inverted yaw form">
            <div class="fields">
                <div class="Kp field">
                    <label>Kp</label>
                    <input type="text" placeholder="">
                </div>
                <div class="Ki field">
                    <label>Ki</label>
                    <input type="text" placeholder="">
                </div>
                <div class="Kd field">
                    <label>Kd</label>
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
        <h4 class="ui horizontal divider header">
            <i class="compass icon"></i> Roll config
        </h4>
        <div class="ui inverted roll form">
            <div class="fields">
                <div class="Kp field">
                    <label>Kp</label>
                    <input type="text" placeholder="">
                </div>
                <div class="Ki field">
                    <label>Ki</label>
                    <input type="text" placeholder="">
                </div>
                <div class="Kd field">
                    <label>Kd</label>
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
        <h4 class="ui horizontal divider header">
            <i class="compass icon"></i> Pitch config
        </h4>
        <div class="ui inverted pitch form">
            <div class="fields">
                <div class="Kp field">
                    <label>Kp</label>
                    <input type="text" placeholder="">
                </div>
                <div class="Ki field">
                    <label>Ki</label>
                    <input type="text" placeholder="">
                </div>
                <div class="Kd field">
                    <label>Kd</label>
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
        <div class="ui fluid blue left labeled icon button">
            <i class="checkmark icon"></i>
            Apply configuration
        </div>
    </div>
</div>