body {
    background: black;
}

.pusher {
    margin-left: -116px !important;
    padding-top: 15px;
}

.inverted.loading:before {
    background: rgba(82, 82, 82, 0.57);
}

#GeoPositionMap {
    height: 25em;
}

#geoPositionResetButton, #refreshNetworkStatus {
    float: right;
    margin-top: -29px;
    margin-right: -10px;
}

#refreshNetworkStatus {
    width: 40px;
    height: 36px;
    padding-left: 7px;
    padding-top: 6px;
}

.segment.geo-position {
    padding: 0;
}