body {
    background: black;
}

.pusher {
    margin-left: -116px !important;
    padding-top: 15px;
}

#GeoPositionMap {
    height: 25em;
}

#geoPositionResetButton {
    float: right;
    margin-top: -29px;
    margin-right: -10px;
}