body {
    background: black;
    margin-top: -21px !important;
    height: 100%;
}

.pusher {
    margin-left: -116px !important;
    padding-top: 15px;
}

.inverted.loading:before {
    background: rgba(82, 82, 82, 0.57);
}

#GeoPositionMap {
    height: 25em;
}

#geoPositionResetButton, #refreshNetworkStatus {
    float: right;
    margin-top: -29px;
    margin-right: -10px;
}

#refreshNetworkStatus {
    width: 40px;
    height: 36px;
    padding-left: 7px;
    padding-top: 6px;
}

#directControlWidget {
    padding-left: 13px;
    padding-top: 13px;
}

.segment.geo-position {
    padding: 0;
}

#directControlWidget .column {
    padding-left: 9px;
    padding-right: 16px;
}

#copterStructureWidget,
#ControlRequestsWidget {
    width: 239px;
    float: left;
    margin-right: 19px;
}

#copterStructureWidget img {
    margin: 8px;
    height: 218px;
}

#copterStructureWidget .segment,
#ControlRequestsWidget .segment{
    width: 239px;
    height: 241px;
}

#ControlRequestsWidget .segment{
    padding-top: 9px;
    overflow: hidden;
}

#copterStructureWidget .header,
#ControlRequestsWidget .header{
    width: 239px;
}

#motorStatusHistoryChart {
    height: 269px;
    width: 100%;
}

#ControlRequestsWidget .inline.loader {
    float: left !important;
    margin-right: 12px !important;
}

@media screen and (max-width: 1500px) {
    #directControlPage .left.column {
        width: 34.5%!important;
    }

    #directControlPage .right.column {
        width: 45%!important;
    }
}

#ContentGrid {
    padding-left: 17px;
    margin-top: 21px;
    padding-top: 47px;
    height: 100%;
}

#MapWidget {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
}

#MapWidgetColumn {
    height: 50%;
}