{% extends 'pages/base.html.twig' %}

{% block jsScript %}
    <script>
        $(document).ready(function () {
            app.DirectControlController.init();
        });
    </script>
{% endblock %}

{% block header %}
    <h1 class="ui top dividing inverted dark blue header">
        <i class="game icon"></i>
        <div class="content">
            Direct control
            <div class="green sub header" id="connectionStatus">Connecting ...</div>
        </div>
    </h1>
{% endblock %}

{% block grid %}
    <div class="row" id="directControlPage">
        <div class="four wide column left">
            {% include 'widgets/direct-control.html.twig' %}
            <br>
            {% include 'widgets/network-status.html.twig' with {'networkStatus': networkStatus} %}
        </div>
        <div class="column right">
            <div class="grid">
                <div class="row">
                    {% include 'widgets/motor-status-history.html.twig' %}<br>
                </div>
                <div class="row">
                    {% include 'widgets/copter-structure.html.twig' %}
                    {% include 'widgets/control-requests.html.twig' %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}