{% extends 'pages/base.html.twig' %}

{% block jsScript %}
    <script>
        $(document).ready(function () {
            app.DashboardController.init();
        });
    </script>
{% endblock %}

{% block header %}
    <h1 class="ui top dividing inverted dark blue header">
        <i class="dashboard icon"></i>
        <div class="content">
            Dashboard
            <div class="sub header" id="dashBoardLastUpdateHeader">Last update: 0 seconds ago</div>
        </div>
    </h1>
{% endblock %}

{% block grid %}
    <div class="row">
        <div class="eight wide column">
            <h4 class="ui top inverted attached header">
                <i class="map icon"></i>
                <div class="content">
                    Geo position
                </div>
                <button class="ui grey button" id="geoPositionResetButton" onclick="app.MapWidget.reset(this)">
                    Reset data
                </button>
            </h4>
            <div class="ui attached segment geo-position inverted"><div id="GeoPositionMap"></div></div>
        </div>
        <div class="four wide column">
            <h4 class="ui top inverted attached header">
                <i class="feed icon"></i>
                <div class="content">
                    Network status
                </div>
                <button class="ui grey icon button" id="refreshNetworkStatus" onclick="app.NetworkStatusWidget.refresh(this)">
                    <i class="refresh icon"></i>
                </button>
            </h4>
            <div class="ui attached inverted segment" id="NetworkStatusWidget">
                <div class="ui inverted relaxed divided list">
                    <div class="item">
                        <div class="content">
                            <div class="header">IP Adresse</div>
                            <div class="ipAddress">{{ networkStatus.ipAddress ?: 'Unknown' }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Websocket port</div>
                            <div class="port">{{ networkStatus.webSocketPort ?: 'Unknown' }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}